

.timer {
    align: right;
}

.container-fluid {
    width: 60%;
    height: 50%;
    background-color: rgba(72, 69, 221, 0.4);
    margin: auto;
    margin-top: 150px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    box-shadow: 0 0 10px 2px;
}

body {
    background-color: rgba(176, 224, 247);
}

#start {
    margin-bottom: 20px;
}

.startTxt {
    margin-top: 20px;
    font-size: 30px;
    color: white;
    padding: 20px;
}

#question {
    text-align: center;
}

.btn {
    margin: 5px 10px 5px 10px;
    padding: 5px 5px 5px 5px;
}

.startBtn {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-bottom: 20px;
}

.btn-info {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.startTxt {
    margin-top: 10px;
}

.byeBox {
    display: none;
}

.answerBtn p {
    margin-top: 10px;
    padding: 15px;
    color: white;
    font-size: 20px;
}